body {
    margin: 0;
}

.video-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.hide-preloader {
    z-index: -10;
}

.title {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    position: absolute;
    bottom: 50px;
    left: 50px;

    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    transition: all 0.5s;
}

button:hover {
    background-color: black;
    color: white;
}

header::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}